@using Banca.Application.Utils
@model IEnumerable<Banca.Application.Models.TitularTarjetaViewModel>;
@{
    ViewData["Title"] = "Banca Digital";
}


@foreach(var item in Model)
{
    <a asp-controller="EstadoCuenta" asp-action="Index" asp-route-id="@item.TitularTarjetaId" class="card credit-card-button text-decoration-none">
        <div class="card-body">
            <h5 class="card-title">@item.NombreTitular</h5>
            <p class="card-text">@item.NumeroTarjeta.ToCardFormat()</p>
            <p class="card-text">Saldo Actual: @item.SaldoActual.ToString("C")</p>
            <p class="card-text">Límite de Crédito: @item.LimiteCredito.ToString("C")</p>
            <p class="card-text"><small class="text-muted">Ver estado</small></p>
        </div>
    </a>
}
